{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 *
 * We're assuming lang="en" and hardcoding that.
 *
 */
#}
{% set page_title = 'Content from ' ~ resource.provider.name ~ ': ' ~ resource.title %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page_title }}</title>
  <css-placeholder token="{{ placeholder_token }}">
</head>
<body style="margin: 0">
  <main role="main">
    {{ media|raw }}
  </main>
</body>
</html>
