@use "../utilities/colors";
@use "../components/button";
@use "../components/links";

.card-basic {
  display: block;
  background: colors.$white;
  margin: 1rem 0;
  vertical-align: top;

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__title {
    //@include heading-default();
    //@include heading--primary();
    line-height: 2rem;
    margin: 0 1rem;

    a {
      @include links.link-style--default();
      text-decoration: none;
    }
  }

  &__info-wrapper {
    padding: 2rem 1rem;
  }

  &__body {
    margin: 1rem;
  }

  &__body:last-child {
    margin-bottom: 0;
  }

  &__bar {
    display: none;
    height: 4px;
    width: 25px;
    background: colors.$ucla-gold;
    margin: 0 1rem 1rem;
  }

  &__footer {
    margin: 0 1rem;
    text-align: center;
  }

  &__footer-left {
    margin: 0 1rem;
  }

  &__footer-right {
    margin: 0 1rem;
    text-align: right;
  }

  &__button {
    //@include btn();
    @extend .btn;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  // ==========================================================================
  // Dark Blue Background
  // ==========================================================================
  &--dark {
    background: colors.$darker-blue;

    .card-basic__title {
      //@include heading--invert();
      color: colors.$white;
      line-height: 2rem;

      a {
        @include links.link-style--invert();
      }
    }

    .card-basic__body {
      color: colors.$white;
    }

    .card-basic__bar {
      display: inline-block;
    }

    .card-basic__button {
      @extend .btn--darkbg;
    }
  }

  // ==========================================================================
  // Gray Background
  // ==========================================================================

  &--gray {
    background: colors.$grey-10;
  }

}
