@use "../../utilities/colors";
@use "../../utilities/variables";
@use "../../utilities/_mixins/breakpoints";

/* ------------------------------------
   Header
   ------------------------------------ */

#header {
  border-bottom: 1px solid colors.$grey-10;

  .site-name a {
    &:focus {
      outline: 1px dotted colors.$hover-state;
    }
  }

  .header-logo__wrap {
    > a { // This should be the link for the UCLA logo.
      &:hover {
        background-color: transparent;
      }

      &:focus {
        outline: 1px dotted colors.$white;
      }
    }
  }
}

/* ------------------------------------
   Header logo
   ------------------------------------ */

.header-logo {
  background-color: colors.$ucla-blue;
  padding: 8px 24px;
  max-height: 48px;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    padding: 12px 24px;
  }

  a {
    text-decoration: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__image {
    display: inline-block;
    height: 24px;
    margin-right: 8px;
  }

  .breadcrumb {
    position: static;
    width: calc(100% - 100px);
    margin-top: 5px;

    & > .breadcrumb__item::before {
      padding: 0 8px 0 5px;
    }

    & > .breadcrumb__item:first-child::before {
      padding-left: 3px;
    }
  }
}

/* --------------------------------------
   Site name
   ------------------------------------ */

.site-name {
  font-size: variables.$ucla-font-size-x-large;
  font-weight: bold;
  line-height: 1;

  a {
    background-color: transparent;
    color: colors.$medium-grey5;
    display: inline-block;
    text-decoration: none;

    &:hover {
      background-color: transparent;
      color: colors.$hover-state;
    }
  }
}

/* --------------------------------------
   Header wrap
   ------------------------------------ */

.header-wrap {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0 0;
  position: relative;
  top: 1px;
  min-height: 41px;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    padding: 24px 24px 0;
    min-height: auto;
  }

  &::after {
    content: "";
    display: block;
  }

  .site-name {
    margin-left: 24px;
    width: 75%;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      float: left;
      margin-bottom: 0;
      margin-left: 0;
      width: 50%;
    }

    a {
      margin-bottom: 0;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        margin-bottom: 32px;
      }
    }
  }

  #menu-secondary {
    float: right;
    width: 50%;
    position: relative;
    display: none;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      display: block;
    }

    .nav-secondary {
      float: right;
      position: relative;
      top: -6px;
    }
  }
}

.header__navbar {
  clear: both;
  display: none;
  grid-template-areas: 
  "search" 
  "nav"
  "account"
  ;
  grid-template-columns: 1fr;
  position: absolute;
  right: 0;
  top: 100%;
  //transform: translateX(100%);
  width: 100%;
  z-index: 920;

  &.is-active {
    display: grid;
    transform: none;
  }

  @media (min-width: breakpoints.breakpoint-min(sm)) {
    max-width: 360px;
  }

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    max-width: none;
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    transition: none;

    &.is-active {
      display: flex;
    }
  }
}
