@use "_mixins/breakpoints";

// Visual refinements to text that is user-formatted (e.g., body fields).

.text-formatted,
.ck-editor__editable {
  // Add some spacing above headers.
  h1 {
    margin-top: 5rem;
  }

  h2 {
    margin-top: 3.5rem;
  }

  h3 {
    margin-top: 2.5rem;
  }

  h4 {
    margin-top: 1rem;
  }

  h1, h2, h3, h4, h5, h6, article, figure, div, blockquote, ul, ol, p {
    // Remove the top spacing if block elements are the first child of the div.
    &:first-child {
      margin-top: 0;
    }

    //// Remove the bottom margin of the last block elements to keep layout spacing consistent.
    //&:last-child {
    //  margin-bottom: 0;
    //}
  }

  h1, h2, h3, h4 {
    // Remove the top spacing if headers are immediately followed by one another.
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + article,
    & + figure,
    & + div,
    & + blockquote,
    & + ul,
    & + ol {
      margin-top: 0;
    }

    // If someone has put in a br tag for extra space, hide it.
    & > br:first-child {
      display: none;
    }
  }


  .align-left {
    @media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
      float: left;
      margin-bottom: 1rem;
      margin-right: 1rem;
      max-width: 100%; // Needed by ie11.
    }
  }

  .align-right {
    @media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
      float: right;
      margin-bottom: 1rem;
      margin-left: 1rem;
      max-width: 100%; // Needed by ie11.
    }
  }

  .align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    // Fix figure and figcaptions when aligned center.
    figure {
      display: block;

      // Force an immediate child so that it doesn't break stuff in ckeditor.
      > img {
        width: auto;
      }
    }

    figcaption {
      display: block;
    }
  }

  // Media Videos need set widths since they want to go full 100%.
  @media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
    .media--type-sf-video-media-type,
    .caption--video-align {
      &.align-right,
      &.align-left {
        min-width: 50%;
      }

      &.align-center {
        width: 75%;
      }
    }
  }
}
