{#
/**
 * @file
 * Default theme implementation for a Slideshow Photo Gallery navigation display.
 *
 * Available variables:
 * - slides: Array of thumbnail slides.
 *
 * @ingroup themeable
 */
#}
{% if slides %}
  <div class="slider-nav" role="toolbar">
    {% for slide in slides %}
      <div class="slideshow__item">
        <img data-lazy="{{ slide.src }}" alt="{{ slide.alt }}" />
      </div>
    {% endfor %}
  </div>
{% endif %}
