{#
/**
 * @file
 * Default theme implementation for a Slideshow Photo Gallery main display.
 *
 * Available variables:
 * - show_title: Boolean for whether the title should be shown.
 * - title_full: The full gallery title.
 * - slides: Array of image slides.
 *
 * @ingroup themeable
 */
#}
<div class="slideshow">
  {% for slide in slides %}
    <div class="slideshow__item">
      <img data-lazy="{{ slide.src }}" alt="{{ slide.alt }}" />
      {% if (loop.index == 1 and show_title) or slide.caption %}
        <div class="slideshow__text">
          {% if show_title and loop.index == 1 %}
            <div class="slideshow__title">{{ title_full }}</div>
          {% endif %}
          {% if slide.caption %}
            <div class="slideshow__caption">{{ slide.caption }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
