{#
/**
 * @file
 * Default theme implementation for a SiteDen Basic layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{%
  set layout_classes = [
  content['#settings'].sidebars == 'first' ? 'layout--basic',
  content['#settings'].sidebars == 'second' ? 'layout--basic layout--basic--reverse',
  content['#settings'].sidebars == 'both' ? 'layout--basic layout--basic--3-column',
]
%}

{% if content %}
  <div{{ attributes.addClass(layout_classes) }}>

    {% if content.title %}
      <div {{ region_attributes.title.addClass('layout__title') }}>
        {{ content.title }}
      </div>
    {% endif %}

  </div>
{% endif %}
