@use "../../utilities/_mixins/breakpoints";
@use "../../utilities/_mixins/helper";
@use "../../utilities/colors";
@use "../../utilities/variables";



/* ------------------------------------
    Navigation Container
  ------------------------------------ */
#menu {
  display: block;
  position: relative;
  width: 100%;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    width: auto;
  }

  .nav-primary {
    right: -100%;
    top: 43px;
    position: relative;
    width: 100%;
    z-index: 100;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      top: 0;
      z-index: 100;
    }

    &__list {
      float: right;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: auto;
        position: relative;
        left: auto;
        top: auto;
      }
    }

    &--is-active {
      right: 0%;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        right: 0;
      }
    }
  }

  .hamburger {
    position: absolute;
    right: 0;
    bottom: -31px;
    margin-right: 24px;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      display: none;
      margin-right: 0;
    }
  }
}

.region.region-secondary-navigation {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    max-width: none;
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    transition: none;
}

#secondary-menu-ul {
    display: flex;

    li a {
        line-height: 24px;
        padding: 8px 16px 12px;
        color: #00598c;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }

    li:hover>a, .cta-menu-item a {
        background-color: #0079bf;
        color: #fff !important;
    }
    
    .menu {
        display: flex;
    }
}



