@use "../utilities/colors";
@use "../utilities/_mixins/breakpoints";

.node--type-sf-event {
  .event__meta {
    font-weight: bold;
    margin-bottom: 1rem;

    .field__label {
      display: none;
    }

    ul {
      font-weight: bold;

      li {
        border-right: 1px solid #999;
        display: inline-block;
        line-height: 1;
        margin-right: 0.25rem;
        padding-right: 0.5rem;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .event__title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.125;

    a {
      text-decoration: none;
    }
  }

  .event__summary {
    margin-bottom: 0.5rem;

    *:last-child {
      margin-bottom: 0;
    }
  }
}

.node--type-sf-event.node--view-mode-full {
  .event__media {
    margin-bottom: 1.5rem;
  }

  .event__content {
    margin-bottom: 3rem;
  }

  .event__meta {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
}

.node--type-sf-event.view-mode--teaser {
  position: relative;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    column-gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .event__media {
    margin-bottom: 1rem;

    @media (min-width: breakpoints.breakpoint-min(md)) {
      flex-basis: 100%;
      margin-bottom: 0;
      max-width: 33.333%;
    }

    img {
      width: 100%;
    }
  }

  .event__info {
    @media (min-width: breakpoints.breakpoint-min(md)) {
      flex-basis: 100%;
    }
  }

  .event__meta {
    margin-bottom: 0.5rem;
  }

  &.view-mode--teaser--featured {
    background-color: colors.$grey-8;
    padding: 1rem;
  }
}

.featured-event-content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .event-month {
      font-size: 22px;
      line-height: 24px;
      word-break: normal;
    }

    .event-day {
      font-size: 33px;
      line-height: 37px;
    }

    .icon--time, .icon--location {
        font-weight: 600;
        color: #0009;
        font-size: .94em;
    }    
}

.featured-event-date {
    padding: 0 20px;
    font-weight: bold;
}

.featured-event-content {
    padding-right: 20px;

    .event-title {
      font-size: 1.625rem;
      font-weight: 700;
      line-height: 1.125;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
      }
    }    

    .field--name-field-sf-content {
        margin-top: 1rem;
    }
}

.layout--onecol .view-id-sf_events_upcoming.view-display-id-block_2 .view-content {
    @media (min-width: breakpoints.breakpoint-min(lg)) {
      grid-column-gap: 2.5rem;
      display: grid;
      grid-template-areas: "first second";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto max-content 1fr;
    }

    @media (min-width: breakpoints.breakpoint-min(md)) and (max-width: breakpoints.breakpoint-min(lg)) {
      grid-column-gap: 2.5rem;
      display: grid;
      grid-template-areas: "first second";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto max-content 1fr;
    }
}

.option--width--full .layout--onecol .sf_events_slider {
    margin-top: 2rem;
}
