@use "../utilities/_mixins/breakpoints";

// Provides the layout styles for four-column layout section.
.layout--fourcol-section {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    display: grid;
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto max-content 1fr;
  }
}
