.layout-builder--content-preview-disabled {
  .l-full-width {
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.layout {
  margin-bottom: 2.5rem;

  .layout__region {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    .block {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.layout__content {
  .block {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// If the block contains a .heading--bar heading at the end, reduce the bottom margin.
.block > .text-formatted > .heading--bar:last-child {
  margin-bottom: -1rem;
}

.text-formatted {
  .alert {
    margin-bottom: 2.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// If the first region of a one-column layout contains a hero banner or a slider, let it bump up against the top navigation.
.layout--onecol:not(.layout-builder__layout):first-of-type > .layout__region:first-child > .hero-banner:first-child,
.layout--onecol:not(.layout-builder__layout):first-of-type > .layout__region:first-child> .block-type--sf_slider:first-child {
  margin-top: -3rem;
}

// If the last layout section is full-width, collapse the bottom margin so it bumps against the footer menu.
.layout.l-full-width:not(.layout-builder__layout):last-of-type > .layout__region > div:last-child {
  margin-bottom: -6rem;
}

.layout.layout--basic {
  padding-bottom: 0;
  padding-top: 0;
}
