@use "../colors";

/// Make list flush to the left side
/// @group Lists
@mixin list-flush() {
  margin: 0;
  padding: 0;

  li:before {
    content: "";
    margin: 0;
    padding: 0;
  }
}

/// Reset lists to that they have no styling
@mixin reset-list() {
  @include list-flush();
  list-style: none;

  li {
    list-style: none;

    &:before {
      content: "";
      margin: 0;
      padding: 0;
    }
  }
}

// Primary Link Styling
@mixin link-style() {
  color: colors.$default-state;
  text-decoration: underline;

  &:hover {
    background-color: colors.$hover-state;
    color: colors.$white;
    text-decoration: none;
  }

  &:focus {
    outline: 1px dotted colors.$focus-state;
    outline-offset: .125em;
  }

  &:active {
    background-color: colors.$active-state;
    color: colors.$white;
    text-decoration: none;
  }
}


// Inverted link color for use on dark backgrounds.
@mixin link-style--invert() {
  color: colors.$white;

  &:visited {
    color: colors.$white;
  }

  &:hover {
    background-color: colors.$ucla-gold;
    color: colors.$black;
  }

  &:focus {
    outline-color: colors.$ucla-gold;
  }

  &:active {
    background-color: colors.$ucla-gold;
    color: colors.$black;
  }
}

// Outlined Logo on hovering.
@mixin logo-style--invert() {
  &:focus {
    outline: 1px dotted colors.$lightest-blue !important;
  }

  &:hover {
    outline: 1px dotted colors.$lightest-blue;
    text-decoration: none;
  }
}

// Remove link styles for items like links wrapping an image.
@mixin link-style--reset() {
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: initial;
    text-decoration: none;
    color: inherit;
  }

  &:active {
    background-color: initial;
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

// Filter Colors
// -------------------------
$filter-color-white: brightness(0) invert(1);
$filter-color-black: brightness(0);
$filter-color-yellow: brightness(0) invert(1) sepia(100%) saturate(2000%);

/// Hide text for image replacement
@mixin hide-text($important: null) {
  $bang: if($important, !important, null);
  text-indent: 150% $bang;
  white-space: nowrap $bang;
  overflow: hidden $bang;
}

