@use "../utilities/colors";
@use "../utilities/_mixins/breakpoints";

.node--type-sf-person.node--view-mode-full {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    display: grid;
    grid-column-gap: 5rem;
    grid-template-areas: "content info";
    grid-template-columns: 3fr 1fr;
  }

  .person__info {
    grid-area: info;
  }

  .person__content {
    grid-area: content;
  }

  .person__meta {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

    a {
      text-decoration: none;
    }
  }

  .person__pronouns {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: -3.5rem; // Move this up to look like it's in the title region.
    margin-bottom: 1.875rem;
  }

  .person__media {
    margin-bottom: 2.5rem;
  }

  .person__contacts {
    a {
      font-weight: bold;
      text-decoration: none;
    }

    &--virtual,
    &--physical {
      margin-bottom: 1rem;
    }
  }
}

.node--type-sf-person.view-mode--teaser {
  position: relative;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    column-gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .person__title {
    h3 {
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
    }
  }

  .person__pronouns {
    font-size: 0.875rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
  }

  .person__media {
    margin-bottom: 1rem;
    max-width: 8rem;

    @media (min-width: breakpoints.breakpoint-min(md)) {
      flex-basis: 100%;
      margin-bottom: 0;
    }

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      max-width: 25%;
    }

    img {
      width: 100%;
    }
  }

  .person__info {
    grid-area: info;
  }

  .person__summary {
    grid-area: text;
  }

  .person__position {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .person__contacts {
    font-weight: bold;
    margin-bottom: 0.5rem;

    ul {
      font-weight: bold;

      li {
        border-right: 1px solid #999;
        display: inline-block;
        line-height: 1;
        margin-right: 0.25rem;
        padding-right: 0.5rem;

        &:last-child {
          border-right: none;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }

  &.view-mode--teaser--featured {
    background-color: colors.$grey-8;
    padding: 1rem;
  }
}
