{{ attach_library('siteden_components/sf_accordion') }}
<div class="sf_accordion">
  {% for i, accordionitem in accordionitems %}

    {% include '@siteden-components/accordion-item.html.twig' with
      {
        title: accordionitem.title,
        text: accordionitem.text,
      } %}

  {% endfor %}
</div>
