<div class="banner--text" role="region" aria-label="text banner">
  <div class="banner--text__body">
    {% if title %}
      <h3>{{ title }}</h3>
    {% endif %}

    {% if text %}
      {{ text }}
    {% endif %}

    {% if link.url and link.title %}
      <div class="banner--text__button-group">
          <a href="{{ link.url }}" class="banner--text__button">{{ link.title }}</a>
      </div>
    {% endif %}
  </div>
</div>
