{% set card_classes = [
  configuration.block_styles.card_type.card_type ? 'card--bg-' ~ configuration.block_styles.card_type.card_type : '',
  configuration.block_styles.card_type.card_accent ? 'card--accent' : ''
] %}

<div class="sf_card-grid">
  {% for i, carditem in carditems %}

    {% include '@siteden-components/card.html.twig' with
      {
        title: carditem.title,
        link: carditem.link,
        image: carditem.image,
        text: carditem.text,
        card_classes: card_classes
      } %}

  {% endfor %}
</div>
