{{ attach_library('classy/file') }}
<div class="hero-video-container field--name-field-hero-video">
  <video aria-hidden="true" autoplay="" muted="" loop="" playsinline="" data-object-fit="cover" itemscope itemtype="http://schema.org/VideoObject">
      <source src="{{ file }}" type="video/mp4">
    <meta itemprop="description" content="{{ alt_text }}">
  </video>
</div>
