<div class="layout__container global-foot" aria-label="Global footer" role="contentinfo">
  <div class="social-links-container">
    <a class="social-icon" href="https://www.facebook.com/UCLA/"><span class="social-icon--facebook"></span><span class="visuallyhidden">Facebook</span></a>
    <a href="https://www.instagram.com/ucla/"><span class="social-icon--instagram"></span><span class="visuallyhidden">Instagram</span></a>
    <a href="https://www.linkedin.com/school/ucla"><span class="social-icon--linkedin"></span><span class="visuallyhidden">Linked</span></a>
    <a href="https://twitter.com/ucla"><span class="social-icon--x"></span><span class="visuallyhidden">X</span></a>
    <a href="https://www.youtube.com/user/UCLA"><span class="social-icon--youtube"></span><span class="visuallyhidden">Youtube</span></a>
    <a href="https://www.tiktok.com/@ucla?lang=en"><span class="social-icon--tiktok"></span><span class="visuallyhidden">TikTok</span></a>
    <a href="https://www.threads.net/@ucla"><span class="social-icon--threads"></span><span class="visuallyhidden">Threads</span></a>
  </div>

  <div class="global-foot__wrapper">
    <div class="global-foot__legal">
      <p class="global-foot__legal--copyright">&copy; {{ "now" | date("Y") }} Regents of the <a class="copy__link-a dark" href="http://www.universityofcalifornia.edu/">University of California</a></p>

      <ul class="global-foot__legal--list">
        <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="https://www.bso.ucla.edu/">Emergency</a></li>
        <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="https://www.ucla.edu/accessibility">Accessibility</a></li>
        <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="https://equity.ucla.edu/report-an-incident/">Report Misconduct</a></li>
        <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="https://www.ucla.edu/terms-of-use/">Privacy &amp; Terms of Use</a></li>
      </ul>
    </div>
  </div>
</div>
