<div class="footer__dept" aria-label="Department footer" role="contentinfo">
  <div class="layout__container">

    {% if footer_nav|render or footer_undernav|render %}

      <div class="footer__dept--left">{{ footer_left }}</div>
      <div class="footer__dept--right">
        {{ footer_nav }}
        {{ footer_undernav }}
      </div>

    {% else %}

      {{ footer_left }}

    {% endif %}

  </div>
</div>
