{% set aspect_ratio = 56.25 %}
{% if width > 0 and height > 0 %}
  {% set aspect_ratio = (height / width) * 100 %}
{% endif %}

<div class="sf_iframe">
  {% if constrain_width %}<div class="constrain-width">{% endif %}
  <div class="iframe-container {{ constrain_width ? 'constrain-width' : '' }}" style="height:0; width:100%; padding-bottom: {{ aspect_ratio|default(56.25) }}%">
    <iframe src="{{ url }}" title="{{ description }}"></iframe>
  </div>
  {% if constrain_width %}</div>{% endif %}
</div>
