<div class="hamburger__container">

<button id="primary-ham" class="hamburger" type="button" aria-label="toggle button to access navigation and search" title="navigation and search">
  <span class="hamburger__box">
    <span class="hamburger__inner"></span>
  </span>
</button>

</div>
