<a href="{{url}}" class="media-link">
  <div class="media-link__figure">{{image | raw}}</div>
  <div class="media-link__body">
    <div class="media-link__container">
      <h3 class="media-link__title">{{title}}</h3>
      {{content | raw}}
    </div>
  </div>
</a>
