/* ---------------- */
/* Do a swap-a-roo with page title and name field in template */
/* ---------------- */

.circuit-profile-content__name,
.circuit-term-content .l-content .circuit-term-content__name {
  display: none;
}

@media only screen and (min-width: 576px) {
  .page-node-type-circuit-profile .block-page-title-block,
  .circuit-term-content .l-sidebar-first .circuit-term-content__name {
    display: none;
  }

  .circuit-profile-content__name,
  .circuit-term-content .l-content .circuit-term-content__name {
    display: block;
  }
}

/* ---------------- */
/* Theme the content area */
/* ---------------- */

/* Custom content background color */
.circuit-profile-content,
.circuit-term-content {
  background-color: #DAEBFE;
  padding: 2rem;
}

/* Custom field tweaks */
.circuit-profile-content .circuit-profile-content__name {
  margin-top: 3rem;
}

.circuit-profile-content .field--name-field-sf-m-primary-image img,
.circuit-term-content .field--name-field-sf-m-tax-primary-image img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.circuit-profile-content .field--name-field-media-image::after,
.view-mode-full .circuit-term-content .field--name-field-sf-m-tax-primary-image::after {
  content: "";
  display: block;
  width: 5em;
  height: 8em;
  position: absolute;
  top: 3em;
  left: -.75em;
  background-color: #2774ae;
  z-index: 0;
}

/* Fix an issue wioth the email field not getting a box height */
.circuit-profile-content .field--label-inline {
  clear: left;
  min-height: 1.5rem;
}

/* Make sure all fields get some space below them */
.circuit-profile-content .field {
  margin-bottom: 1.5rem;
}

/* Customize HR for graphic element */
.circuit-profile-content__hr{
  border-top: .75em solid #2774ae;
  width: 60%;
  margin: 2rem auto;
}

/* ---------------- */
/* Theme taxonomy term page */
/* ---------------- */

.vocabulary-circuit-team.view-mode-full {
  margin-bottom: 3em;
}

.circuit-term-content .field__label{
  color: #2774ae;
  font-weight: bold;
  font-size: 1.3rem;
}

/* Customize HR for graphic element */
.circuit-term-content__hr{
  border-top: .75em solid #2774ae;
  width: 50%;
  margin: 2rem auto;
}

.circuit-term-content .field--name-field-sf-m-tax-primary-image {
  position: relative;
  margin-bottom: 1em;
}

.view-display-id-page_1 .feed-icon {
display: none;
}

/* ---------------- */
/* Theme taxonomy term page */
/* ---------------- */

.view-circuit > .view-content > h3 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 2em;
}

.view-circuit > .view-content > h3:first-child {
  margin-top: 0;
}

.view-circuit .field--name-field-sf-m-tax-primary-image {
  margin-bottom: 0;
}

.view-circuit .views-row {
  font-weight: bold;
}

.view-circuit-team .views-field-title {
  font-weight: bold;
}
