{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for a Tabs paragraph.
 *
 * Available variables:
 * - Look in the paragraph.html.twig file for available variables.
 */
#}

{% set tabtitle = [] %}
{% set tabcontent = [] %}
{% set accordionitems = [] %}

{% for key, item in content.field_sf_tab|filter((value, key) => key|first != '#') %}
  {% set accordionitems = accordionitems|merge([{
    title: item['#paragraph'].field_sf_title.0.value,
    text: item['#paragraph'].field_sf_wysiwyg.0|view,
  }]) %}
{% endfor %}

{% for key, item in content.field_sf_tab|filter((value, key) => key|first != '#') %}
  {% set tabtitle = tabtitle|merge([item['#paragraph'].field_sf_title.0.value]) %}
  {% set tabcontent = tabcontent|merge([item['#paragraph'].field_sf_wysiwyg.0|view]) %}
{% endfor %}

{% block content %}
  <div class="tabs-md-up">
    {% include '@siteden-components/tabs.html.twig' with {
      titles: tabtitle,
      content: tabcontent,
    } %}
  </div>
  <div class="tabs-sm-down">
    {% include '@siteden-components/accordion.html.twig' with {
      accordionitems: accordionitems,
    } %}
  </div>
{% endblock %}



