{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for a Block embed paragraph.
 *
 * Available variables:
 * - Look in the paragraph.html.twig file for available variables.
 */
#}

{% block content %}
  <div class="sf_block-embed">
    {{ content }}
  </div>
{% endblock %}

