@use "../utilities/colors";
@use "../utilities/variables";

.alert {
  /* Default Alerts Styling */
  border-style: solid;
  border-width: 4px;
  line-height: 1.5;
  padding: 16px;

  img {
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }

  figcaption {
    display: flex;
  }

  /* Specific Alert Styles */
  &,
  &--primary {
    border-color: colors.$lighter-blue;
  }

  &--secondary {
    border-color: #979797;
  }

  &--success {
    border-color: colors.$success-green;
  }

  &--error {
    border-color: colors.$error-red;
  }

  &--warning {
    border-color: colors.$warning-orange;
  }
}

// SiteDen alerts are p tags with a background image.
p.alert {
  margin-bottom: 1rem !important;
  &--success {
    background: url("../images/icons/denotive/form-success.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$success-green;
    padding-left: 48px;
  }

  &--error {
    background: url("../images/icons/denotive/form-error.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$error-red;
    padding-left: 48px;
  }

  &--warning {
    background: url("../images/icons/denotive/form-warning.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$warning-orange;
    padding-left: 48px !important;
  }
}

// Legacy SiteDen alerts were divs with a background image (keep for older content)
div.alert {
  &--success {
    background: url("../images/icons/denotive/form-success.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$success-green;
    padding-left: 48px;
  }

  &--error {
    background: url("../images/icons/denotive/form-error.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$error-red;
    padding-left: 48px;
  }

  &--warning {
    background: url("../images/icons/denotive/form-warning.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$warning-orange;
    padding-left: 48px !important;
  }
}
.alert--warning-yellow {
  border-color: #FFB81C !important;
  background:url(../images/icons/denotive/form-warning-yellow.svg) 16px 16px no-repeat;
  background-size:24px 24px;
  padding-left:48px !important;
}


div.bsoalert--success {
    background: url("../images/icons/denotive/form-success-invert.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$success-green;
    background-color: colors.$success-green;
    color: white;
    font-size: 20px;
    background-position-y: center;
    line-height: 1.5;
    padding: 16px 16px 16px 48px;

    img {
      float: left;
      height: 24px;
      margin-right: 8px;
      width: 24px;
    }

    a {
      color: white !important;
      text-decoration: underline;
    }
  }

div.bsoalert--error {
  background: url("../images/icons/denotive/form-error-invert.svg") 16px 16px no-repeat;
  background-size: 24px 24px;
  border-color: colors.$error-red;
  background-color: colors.$error-red;
  color: white;
  font-size: 20px;
  background-position-y: center;
  line-height: 1.5;
  padding: 16px 16px 16px 48px;

  img {
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
  a {
    color: white !important;
    text-decoration: underline;
  }
}

div.bsoalert--warning {
  background: url("../images/icons/denotive/form-warning-invert.svg") 16px 16px no-repeat;
  background-size: 24px 24px;
  border-color: colors.$warning-orange;
  background-color: colors.$warning-orange;
  color: white;
  font-size: 20px;
  background-position-y: center;
  line-height: 1.5;
  padding: 16px 16px 16px 48px;

  img {
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
  a {
    color: white !important;
    text-decoration: underline;
  }
}

div.bsoalert--warning-yellow {
  background:url(../images/icons/denotive/form-warning-yellow-blk.svg) 16px 16px no-repeat;
  background-color: #FFB81C;
  background-size:24px 24px;
  font-size: 20px;
  background-position-y: center;
  line-height: 1.5;
  padding: 16px 16px 16px 48px;

  img {
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
}

.bsoalert--success a.link--external:after, .bsoalert--warning-yellow a.link--external:after, .bsoalert--error a.link--external:after, .bsoalert--warning a.link--external:after {
    display: none;
    content: none;
}
