@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";
@use "../utilities/variables";
@use "button";
@use "links";

/* ------------------------------------
   Ribbon text banner
   ------------------------------------ */
.banner--ribbon-text {
  .banner--ribbon {
    position: relative;
    flex: none;
    height: 214px;

    @media (min-width: breakpoints.breakpoint-min(md)) {
      height: 436px;
    }

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      height: 480px;
    }

    @media (min-width: breakpoints.breakpoint-min(xl)) {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      }

    &__image {
      @media (min-width: breakpoints.breakpoint-min(xl)) {
      width: 100%;
      }

      img {
        max-height: 480px;
        min-height: 214px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 214px;

        @media (min-width: breakpoints.breakpoint-min(md)) {
        height: 436px;
        }
        @media (min-width: breakpoints.breakpoint-min(lg)) {
        height: 480px;
        }
      }
    }

    &__body {
      top: 2rem;
      left: 0;
      position: absolute;
      width: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      box-sizing: border-box;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        top: 4rem;
        left: 0;
        max-width: 80rem;
      }

      @media (min-width: breakpoints.breakpoint-min(xl)) {
        flex: none;
        right: 0;
        margin: auto;
      }
    }

    &__body-inner {
      display: flex;
      flex-wrap: wrap;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      margin-top: -0.75rem;
      box-sizing: border-box;

      > :last-child {
        margin-bottom: 0.75rem;
      }
    }

    &__brand {
      font-size: 1.7rem;
      line-height: 1.36;
      max-width: 20ch;
      padding: 0.75rem;
      box-sizing: border-box;
      background: none;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        font-size: 2.75rem;
        line-height: 1.36;
      }
    }

    &__title {
      color: #fff;
      font-size: inherit;
      line-height: inherit;
      background-color: #2774ae;
      box-shadow: 8px 0 0 #2774ae;
      padding: 1px 0 1px 8px;
      font-weight: bold;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      display: inline;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        box-shadow: 10px 0 0 #2774ae;
        padding: 2px 0 2px 12px;
      }
    }
  }

  .banner--text {
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 5;
    flex: none;
    box-sizing: border-box;
    max-width: 80rem;
    background-color: transparent;

    &:last-child {
    margin-bottom: 0;
    }

    .banner--text__body {
      background-color: colors.$ucla-blue;
      color: colors.$white;
      margin: 0 auto;
      padding: 1.5rem 2.5rem 1.5rem 2rem;
      position: relative;
      width:100%;
      font-size: 1.25rem;
      font-weight: normal;

      @media (min-width: breakpoints.breakpoint-min(md)) {
        font-size: 1.5rem;
      }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        box-sizing: border-box;
        padding: 2.5rem 6rem 3.5rem 4.5rem;
        position: relative;
        max-width: 80rem;
      }

      p {
        margin-block-start: 0;
        margin-block-end: 1rem;
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: normal;

        @media (min-width: breakpoints.breakpoint-min(md)) {
        font-size: 1.5rem;
        font-weight: normal;
        }
      }

      a {
        color: colors.$white;

        &:focus, &:hover, &:active, &:visited {
          color: colors.$white;
        }
      }

      .banner--text__button-group {
        > :last-child {
        margin-bottom: 0;
        }

        .banner--text__button {
          @include button.button--primary--invert();
          margin-top: .75rem;
        }
      }
    }
  }
}

.option--width--full.paragraph .banner--ribbon-text .banner--text,
.option--width--full.paragraph .banner--ribbon__body {

  @media (min-width: breakpoints.breakpoint-min(xl)) {
        padding-left: 0;
        padding-right: 0;
      }
}

.layout--twocol-section .banner--ribbon-text,
.layout--threecol-section .banner--ribbon-text {
  .banner--ribbon {
    height: auto;

    &__image {
      img {
        height: auto;
        min-height: 214px;

        @media (min-width: breakpoints.breakpoint-min(lg)) {
        height: auto;
        min-height: 300px;
        }
      }
    }

    &__brand {
      font-size: 1.7rem;
      line-height: 1.36;
    }

    &__title {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

//for button in title area
.banner--text__button-group {
  > :last-child {
  margin-bottom: 0;
  }

  .banner--text__button {
    @include button.button--primary--invert();
    margin-top: .75rem;
  }
}
