@use "lists";
@use "../utilities/colors";

// Simple CSS drop down
.dropdown {
  display: inline-block;
  position: relative;
  font-weight: bold;

  &__content {
    @include lists.reset-list();
    position: absolute;
    margin: 0;
    min-width: 12em;
    width: 100%;
    overflow: visible;
    //z-index: $zindex-component-fg;
    z-index: 820;

    &.visually-hidden {
      position: absolute;
      left: -300px;
      top: -300px;
      overflow: hidden;
      width: 1em;
      min-width: none;
    }
  }

  //&:hover &__content {
    //display: block;
  //}

  &__item {
    background-color: colors.$white;
    border: 1px solid colors.$grey-10;
    border-bottom: 0;
    display: block;
    margin: 0;

    &:last-child {
      border-bottom: 1px solid colors.$grey-10;
    }

    a {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
    }
  }
}
