@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";
@use "../utilities/variables";
@use "links";

.region-footer {
  > .block {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .branding__figure {
    width: 100%;

    &.o-media__figure {
      margin-right: 0;
    }

    img {
      max-height: 2rem;
      object-fit: contain;
      object-position: left center;
    }
  }

  .branding__figure a:hover {
    background-color: transparent;
  }
}

.footer__dept {
  background: colors.$ucla-blue;
  color: colors.$white;
  padding-bottom: 2rem;
  padding-top: 2rem;

  &--left {
    margin-bottom: 2.5rem;
  }

  @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;

    & > .layout__container {
      display: flex;
    }

    &--left {
      margin-bottom: 0;
      margin-right: 5%;
      width: 30%;
    }

    &--right {
      width: 65%;
    }
  }

  a {
    @include links.link-style--invert;
  }

  h2, h3 {
    border-left: 0;
    color: colors.$white;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0;
    text-transform: uppercase;
  }
}


// Global footer area
.global-foot {
  max-width: 986px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    // @media only screen and (min-width: breakpoints.breakpoint-min(lg)) {
    //   flex-direction: row;
    // }
  }

  &__legal {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: variables.$ucla-font-size-x-small;

    &--copyright {
      font-size: variables.$ucla-font-size-x-small;
      padding-top: 2rem;
      padding-bottom: 1rem;

      a:link {
        &.copy__link-a {
          font-weight:bold;
          display: block;
          text-decoration: none;
          color: colors.$ucla-blue;
          background-color: colors.$white;
          }

          &:hover {
            background-color: colors.$hover-state;
            color: colors.$white;
          }
        }

      @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
        margin: 0 auto;

        a:link {
          &.copy__link-a {
            display: inline-block;
          }
        }
      }

      // @media only screen and (min-width: breakpoints.breakpoint-min(lg)) {
      //   display: inline-block;
      //   width: 30%;
      //   text-align: left;
      // }
    }

    &--list {
      padding-inline-start: 0;
      list-style: none;
      padding-top: 0;
      margin-top: 0;

      @media only screen and (min-width: breakpoints.breakpoint-min(md))  {
        margin: 0 auto;
      }

      @media only screen and (min-width: breakpoints.breakpoint-min(lg)) {
        padding-top: 1.5rem;
      }

      &-item {
        display: block;
        margin-right: 0;
        margin-left: 0;
        line-height: 32px;

        @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
          display: inline;
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }

    &--link {
      text-decoration: none;
      color: #2774AE;
      font-weight: bold;
    }

    @media only screen and (min-width: breakpoints.breakpoint-min(lg)) {
      flex-direction: row;
    }
  }

  // @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
  //   padding: 0 12px;
  // }
}

// "Email Signup"
.email {
  background: colors.$darker-blue;
  padding: 32px 24px;

  @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
    padding: 40px;
  }

  &__heading,
  &__description,
  &__form,
  &__legal-text,
  &__legal-link,
  &__legal-link:visited,
  &__legal-link:link {
    color: colors.$white;
  }

  &__heading {
    font-size: variables.$ucla-font-size-default;
    font-weight: bold;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 24px;
  }

  &__input {
    // display: block;
    padding: 0;
    margin-bottom: 22px;
    // vertical-align: top;
    // margin-right: 1rem;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      // display: table-cell;
      padding: 0 12px;
      margin-bottom: 0;
    }

    &-text {
      box-sizing: border-box;
      padding: 12px 30px 12px 12px;
      width: 100%;
      height: 48px;
      border: 1px solid #808080;
      font-size: variables.$ucla-font-size-default;
      opacity: 1;
      border-radius: 1px;
      // color: colors.$white;
      margin-top: 6px;

      &::placeholder {
        color: colors.$medium-grey4;
      }

      &:focus {
        outline: 3px solid colors.$focus-state;
        outline-offset: -3px;
      }

      &.checked {
        background-image: url("/img/Success.svg") !important;
        background-repeat: no-repeat;
        background-size: auto !important;
        background-position: 96% 51%;

        @media (min-width: breakpoints.breakpoint-min(md)) {
          background-position: 98% 50%;
        }
      }

      &.error {
        background-image: url("/img/Error.svg") !important;
        background-repeat: no-repeat;
        background-size: auto !important;
        background-position: 98% 50%;
        border: 2px solid colors.$ucla-gold;
      }
    }

    &-submit {
      background-color: colors.$ucla-gold;
      height: 48px;
      border: none;
      border-radius: 2px;
      color: colors.$grey-80;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      padding: 12px 24px;
      width: 100%;
      // margin-top: 6px;
      // position: relative;
      // top: 0;
      // max-width: 120px;

      // @media (min-width: breakpoints.breakpoint-min(lg)) {
      //   margin-top: 0;
      //   top: 23px;
      //   max-width: none;
      // }

      &:active {
        background-color: colors.$button-active;
      }

      &:focus {
        background-color: colors.$button-hover;
        outline: 1px dotted colors.$white;
        outline-offset: 1px;
      }
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-end;
      padding: 0;
      width: 100%;
      margin-bottom: 24px;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        flex-wrap: nowrap;
      }
    }

    &-label {
      display: block;
    }

    &-email {
      width: auto;
      flex-basis: 100%;

      // @media (min-width: breakpoints.breakpoint-min(lg)) {
      //   width: 28.32%;
      //   padding-left: 0;
      // }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        flex-basis: auto;
        padding-left: 0;
      }
    }

    &-firstname {
      width: auto;
      flex-basis: 100%;

      @media (min-width: breakpoints.breakpoint-min(md)) {
        // width: 256px;
        // display: inline-block;
        // margin-right: 5px;
        flex-basis: calc(50% - 12px);
        margin-right: 12px;
      }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        flex-basis: auto;
        margin-right: 0;
      }
    }

    &-lastname {
      width: auto;
      flex-basis: 100%;

      @media (min-width: breakpoints.breakpoint-min(md)) {

        flex-basis: calc(50% - 12px);
        margin-left: 12px;
      }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        flex-basis: auto;
        margin-left: 0;
      }
    }

    &-zipcode {
      width: auto;
      flex-basis: 100%;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        flex-basis: auto
      }

      // input[name="Zip"] {
      //   max-width: 120px;
      //   clear: both;
      // }
    }

    &-button {
      width: auto;
      padding-right: 0;
      position: relative;
      // margin-bottom: 8px;

      // @media (min-width: breakpoints.breakpoint-min(lg)) {
      //   width: 11.53%;
      //   margin-bottom: 0;
      // }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__legal-text {
    font-size: variables.$ucla-font-size-xx-small;
    line-height: 1.5;
  }

  &__legal-link {
    text-decoration: underline;

    &:hover {
      background: colors.$hover-state-dark;
      color: colors.$black;
    }

    &:focus {
      outline: 1px dotted colors.$white;
    }

    &:active {
      background: colors.$active-state-dark;
    }
  }
}
