@use "../utilities/colors";
@use "links";

// Styles for Google CSE search box and results
// sass-lint:disable class-name-format
// sass-lint:disable no-qualifying-elements

.path-search {
  h2 {
    display: none;
  }
}

.gsc-control-cse,
.gsc-control-cse .gsc-table-result {
  font-size: 0.9rem !important;
  padding: 0 !important;

  .gsc-results {
    padding: 0 !important;

    .gs-result {
      margin-bottom: 1em;

      .gs-title {
        font-size: 1rem;

        b {
          font-size: inherit;
          color: inherit;
        }

        a.gs-title {
          @include links.link-style--default();

          & b {
            color: inherit;
          }
        }
      }

      .gsc-url-top,
      .gsc-thumbnail-inside,
      .gs-visibleUrl {
        padding-left: 0;
        color: colors.$darkest-blue !important;
        font-size: .8rem;
      }
    }
  }

  .gsc-result-info-container {
    padding: 0;

    .gsc-result-info {
      color: colors.$grey-40 !important;
      font-size: .9rem;
      padding: 0;
    }
  }

  td {
    padding: 0;
  }

  .gsc-selected-option-container {
    max-width: none;
  }

  .gcsc-find-more-on-google {
    color: colors.$darker-blue;
  }

  .gcsc-find-more-on-google-magnifier {
    fill: colors.$darker-blue;
  }

  .gcsc-more-maybe-branding-root {
    a:hover {
      color: colors.$darkest-blue;
      background-color: transparent;
    }
  }
}
