@use "../utilities/colors";
@use "../utilities/_mixins/breakpoints";

//------------------------------------
//  Heading Mixins
//------------------------------------

// Mixins for all heading styles

// Defaults for all Headings
//@mixin heading-default() {
//  margin-top: 0;
//  margin-bottom: $spacer;
//  padding: 0;
//  color: $font-color;
//  font-style: normal;
//  font-weight: $font-weight--bold;
//  line-height: $line-height--tiny;
//
//  a {
//    text-decoration: none;
//  }
//}

// Primary Heading - Used for H2 tag.
//@mixin heading--primary() {
//  @include heading-default();
//  font-size: 1.5125rem;
//
//  @include breakpoint($bp-narrow--up) {
//    font-size: 1.5333rem;
//  }
//}

// Secondary Heading - Used for H3 tag.
//@mixin heading--secondary() {
//  @include heading-default();
//  font-size: 1.3125rem;
//
//  @include breakpoint($bp-narrow--up) {
//    font-size: 1.3333rem;
//  }
//}

// Heading Bar
@mixin heading--bar() {
  //@include heading-default();
  padding-left: 0.75rem;
  border-left: 0.375rem solid colors.$ucla-gold;
}

// Highlight Heading
@mixin heading--highlight() {
  //@include heading-default();
  color: colors.$ucla-blue;
}

// Inverted Headers (for on a dark background)
@mixin heading--invert() {
  //@include heading-default();
  color: colors.$white;
}

// Inverted Headers (for on a dark background)
@mixin heading--ribbon() {
  $heading--ribbon-offset: 0.75rem;

  //@include heading-default();
  margin-left: $heading--ribbon-offset;

  // For modern browsers.
  @supports (box-decoration-break: clone) {
    margin-left: 0;
  }

  span {
    padding: .25em;
    display: inline-block;
    margin-bottom: .2rem;
    margin-left: -$heading--ribbon-offset;
    background-color: colors.$ucla-blue;

    // For modern browsers.
    @supports (box-decoration-break: clone) {
      display: inline;
      margin-left: 0;
      line-height: 1.8;
      box-decoration-break: clone;
      word-break: break-word;

      @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
        line-height: 1.7;
      }
    }

    span {
      padding: 0;
      display: inline;
      margin: 0;
      background-color: transparent;
    }
  }
}

// Branding Ribbon
@mixin heading--ribbon-branding() {
  @include heading--ribbon();

  span {
    color: colors.$white;
    text-transform: uppercase;
  }
}

// Highlight Ribbon
@mixin heading--ribbon-highlight() {
  @include heading--ribbon();

  span {
    background-color: colors.$ucla-gold;
  }
}

//------------------------------------
//  Headings
//------------------------------------

// Standard Heading
.heading {
  //@include heading-default();
}

.heading--primary {
  //@include heading--primary();
}

.heading--secondary {
  //@include heading--secondary();
}

.heading--bar {
  @include heading--bar();
}

.heading--highlight {
  @include heading--highlight();
}

.heading--invert {
  @include heading--invert();
}

.heading--ribbon-branding {
  @include heading--ribbon-branding();
}

.heading--ribbon-highlight {
  @include heading--ribbon-highlight();
}
