.sf_iframe {
  .iframe-container {
    position: relative;
    width: 100%;

    > iframe {
      left: 0;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  > .constrain-width {
    max-width: 960px;
  }
}
