@use "../utilities/colors";
@use "../utilities/_mixins/breakpoints";
@use "../utilities/variables";

.media.align-left {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.media.align-right {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.media.align-center {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.media--type-sf-image-media-type {
  margin-bottom: 1rem;
  margin-top: 0;
}

.caption-drupal-media.align-right, .caption-drupal-media.align-left {
  margin-bottom: 0;
  min-width: 100% !important;
}

@media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
  .caption-drupal-media.align-right, .caption-drupal-media.align-left {
    margin-bottom: 0;
    min-width: auto !important;
  }
}

.text-formatted .caption--video-align:has(.media--type-sf-video-media-type.media--view-mode-thumbnail) {
    min-width: 320px !important;
    max-width: 320px !important;
    img.image-style-thumbnail {
      min-width: 320px !important;
      max-width: 320px !important;
    }
  }

.caption-drupal-media {
  figcaption {
    color: colors.$grey-60;
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
  article.media.media--type-sf-image-media-type.media--view-mode-landscape-4x3 img {
    aspect-ratio: 4 / 3 !important;
    height: unset !important;
    max-width: 640px !important;
    width: unset !important;
  }
}

article.media.media--type-sf-image-media-type.media--view-mode-landscape-4x3 img {
    aspect-ratio: 4 / 3 !important;
    height: unset !important;
    max-width: 100% !important;
    width: unset !important;
  }

@media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
.media--view-mode-profile {
    height: 580px;
    width: 520px;
  }
}

.media--view-mode-profile {
  height: auto;
  width: 100%;
  max-width: 100%;
}
