//------------------------------------
//  Responsive iFrame
//------------------------------------

.responsive-iframe {
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 56.25%; // 16:9
  position: relative;

  &--4x3 {
    padding-bottom: 75%; // 4:3
  }

  &--flush {
    margin-bottom: 0;
  }

  // Fix extra margins when aligning
  .u-align--right > &,
  .u-align--left > & {
    margin-bottom: 0;
  }

  iframe {
    height: 100%;
    left: 0;
    margin-bottom: 0; // bottom margin is removed here because it can cause issues with the parent wrapper
    position: absolute;
    top: 0;
    width: 100%;
  }
}
