@use "../../utilities/_mixins/breakpoints";
@use "../../utilities/colors";
@use "../../utilities/variables";

/* ------------------------------------
   Breadcrumb
   ------------------------------------ */

.breadcrumb {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  //white-space: nowrap;
  width: 100%;
  width: calc(100% - 5px);
  -ms-overflow-style: none;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    border-radius: 1px;
    display: inline-block;
    font-size: variables.$ucla-font-size-default;
    font-weight: bold;
    line-height: 1.125;
    margin: 0;
    padding: 0;

    a {
      color: colors.$default-state;
      text-decoration: none;

      &:hover {
        background-color: colors.$hover-state;
        color: colors.$white;
      }

      &:focus {
        outline: 1px dotted colors.$hover-state;
      }
    }

    &::before {
      color: #949494;
      content: "/";
      display: inline;
      font-weight: normal;
      margin: 0;
      padding: 0 8px;
    }

    &--first {
      &::before {
        content: none;
      }
    }
  }

  &--white {
    color: colors.$white;
    position: relative;

    .breadcrumb__item {
      a {
        color: colors.$white;

        &:hover {
          background-color: colors.$hover-state-dark;
          color: colors.$medium-grey5;
        }
      }

      &::before {
        color: colors.$white;
      }
    }
  }

  &--fade {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 0;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      display: none;
    }

    &::after {
      background: rgb(255 255 255);
      background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 100%) 84%, rgb(255 255 255 / 100%) 100%);
      content: "";
      height: 24px;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
    }

    &.white {
      &::after {
        background: rgb(39 116 174);
        background: linear-gradient(90deg, rgb(39 116 174 / 0%) 0%, rgb(39 116 174 / 100%) 84%, rgb(39 116 174 / 100%) 100%);
      }
    }
  }
}
