@use "../../utilities/colors";
@use "../links";
@use "../lists";

.footer-nav {
  width: 100%;

  a {
    @include links.link-style--invert();
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
  }

  &__title {
    color: colors.$white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__list {
    @include lists.reset-list();
  }

  &__list-item {
    @include lists.reset-list();
  }
}
