@use "../../utilities/colors";

/* ------------------------------------
   Sidebar navigation
   ------------------------------------ */

.nav-sidebar {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    &:before {
      content: "";
      margin: 0;
      padding: 0;
    }
  }

  &__second-list,
  &__third-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &:before {
        content: "";
        margin: 0;
        padding: 0;
      }
    }
  }

  &__second-list {
    background: colors.$lightest-grey-2;
  }

  &__third-list {
    background: colors.$medium-grey3;
  }

  a {
    display: block;
    padding: 0.625rem 1rem;
    text-decoration: none;
    color: colors.$default-state;
    font-weight: bold;

    &:hover,
    &:not(.page):visited:hover {
      color: colors.$white;
    }

    &:focus,
    &:not(.page):visited:focus {
      color: colors.$white;
      outline-offset: -0.25rem;
    }

    &:not(.page):visited {
      color: colors.$default-state;
    }

    &.is-active {
      border-left: 0.25rem colors.$ucla-gold solid;
      padding-left: 0.75rem;
    }
  }

  &__item {
    margin: 0;
    border-top: 1px solid colors.$medium-grey3;

    &:last-child {
      border-bottom: 1px solid colors.$medium-grey3;
    }

    // Second level items.
    &--second {
      border-top: 1px solid colors.$medium-grey3;

      &:last-child {
        border-bottom: 0;
      }

      a {
        padding: 0.625rem 2rem;

        &.is-active {
          padding-left: 1.75rem;
        }
      }
    }

    // Third level items.
    &--third {
      a {
        padding: 0.625rem 3rem;

        &.is-active {
          padding-left: 2.75rem;
        }
      }
    }
  }
}
