@use "../utilities/colors";
@use "../utilities/_mixins/breakpoints";
@use "../utilities/variables";

@mixin accordion-title($open-selector: false) {
  border-bottom: 1px solid colors.$grey-10;
  color: colors.$darker-blue;
  display: flex;
  font-weight: 700;
  margin: 0;
  padding: 1rem 3rem 1rem 0.85rem;
  border-top: 2px solid colors.$white; //to eliminate vertical movement
  border-left: 2px solid colors.$white; //to eliminate vertical movement
  border-right: 2px solid colors.$white; //to eliminate vertical movement
  width: 100%;
  background: transparent;
  margin-top: 1px;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  color: #00598c;
  box-sizing: border-box;
  text-align: left;

  &:hover {
    background-color: colors.$hover-state;
    color: colors.$white;
    cursor: pointer;

    &:after {
      filter: colors.$filter-color-white;
    }
  }

  &:focus {
    border: 2px solid colors.$button-dark-focus;
    background-color: colors.$white;
    color: colors.$darker-blue;

    &:after {
      filter: none;
    }
  }

  &:active {
    border: 2px solid colors.$button-dark-focus;
    background-color: colors.$button-dark-focus;
    color: colors.$white;

    &:after {
      filter: colors.$filter-color-white;
    }
  }

  &:after {
    background: url("../images/icons/denotive/down--blue.svg") no-repeat center;
    background-size: contain;
    background-position: 50%;
    content: "";
    display: block;
    margin-left: auto;
    height: 1.5rem;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 1.5rem;
  }

  $open: "--open";
  @if ($open-selector) {
    $open: $open-selector;
  }

  &#{$open} {
    border-bottom: 0;

    &:after {
      transform: rotate(180deg);
    }
  }
}

@mixin accordion-content() {
  border-bottom: 1px solid colors.$grey-10;
  padding: 1rem 1rem 2rem;
  box-sizing: border-box;
}

.accordion {
  &__label {
    @include accordion-title();
  }

  &__content {
    @include accordion-content();
    display: none;
  }

  &.is-open .accordion__content {
    display: block;
  }
}
