@use "lists";

// Admin Toolbar
.toolbar {
  ul {
    @include lists.reset-list();
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    &:hover {
      background-color: inherit;
    }

    &:visited {
      color: #565656;
    }
  }

  .toolbar-bar {
    z-index: 1000;
  }
}
