@use "../utilities/colors";
@use "../utilities/variables";

.alert {
  /* Default Alerts Styling */
  border-style: solid;
  border-width: 4px;
  line-height: 1.5;
  padding: 16px;

  img {
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }

  figcaption {
    display: flex;
  }

  /* Specific Alert Styles */
  &,
  &--primary {
    border-color: colors.$lighter-blue;
  }

  &--secondary {
    border-color: #979797;
  }

  &--success {
    border-color: colors.$success-green;
  }

  &--error {
    border-color: colors.$error-red;
  }

  &--warning {
    border-color: colors.$warning-orange;
  }
}

// SiteDen alerts are divs with a background image.
div.alert {
  &--success {
    background: url("../images/icons/denotive/form-success.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$success-green;
    padding-left: 48px;
  }

  &--error {
    background: url("../images/icons/denotive/form-error.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$error-red;
    padding-left: 48px;
  }

  &--warning {
    background: url("../images/icons/denotive/form-warning.svg") 16px 16px no-repeat;
    background-size: 24px 24px;
    border-color: colors.$warning-orange;
    padding-left: 48px !important;
  }
}
.alert--warning-yellow {
  border-color: #FFB81C !important;
  background:url(../images/icons/denotive/form-warning-yellow.svg) 16px 16px no-repeat;
  background-size:24px 24px;
  padding-left:48px !important;
}