@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";
@use "../utilities/variables";
@use "button";
@use "links";

// ==========================================================================
// Banner Text
// ==========================================================================

.banner--text {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: auto;
  background-color: colors.$ucla-blue;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &:last-child {
  margin-bottom: 0;
  }

  @media (min-width: breakpoints.breakpoint-min(md)) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    }

  .banner--text__body {
    background-color: colors.$ucla-blue;
    color: colors.$white;
    position: relative;
    max-width: 76.5rem;
    flex: none;
    width: 83.3333333333%;
    margin: 0 auto;
    padding: 0.75rem;
    line-height: 1.5;
    box-sizing: border-box;
    font-weight:normal;
    font-family: Helvetica, Roboto, Arial, sans-serif;

    h3 {
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 1.22;
      box-sizing: border-box;
      }

    p {
      margin-block-start:0;
      margin-block-end: 1rem;
      font-size: 1rem;
      line-height: 1.2;
      font-weight: normal;

      @media (min-width: breakpoints.breakpoint-min(md)) {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: normal;
      }
    }

    a {
      color: colors.$white;

      &:focus, &:hover, &:active, &:visited {
        color: colors.$white;
      }
    }

    .banner--text__button-group {
      > :last-child {
      margin-bottom: 0;
      }

      .banner--text__button {
        @include button.button--primary--invert();
        margin-top: .75rem;
      }
    }
  }
}

.layout__content:not(:has(+ .layout__sidebar-first)) {
  .paragraph--type--sf-section.option--width--full:last-of-type {
    > .layout {
      > .layout__region {
        .paragraph--type--sf-text-banner {
          &:last-child {
            margin-bottom: -6rem;
          }
        }
      }
    }
  }
}

// Gray and dark blue card background variant.

.option--bg-color--gray {
  .banner--text {
    background-color: colors.$grey-10;

    .banner--text__body {
      background-color: colors.$grey-10;
      color: colors.$grey-80;

      a {
        color: colors.$grey-80;

        &:focus, &:hover, &:active, &:visited {
          color: colors.$grey-80;
        }
      }
    }
  }
}

.option--bg-color--dark-blue {
  .banner--text {
    background-color: colors.$darker-blue;

    .banner--text__body {
      background-color: colors.$darker-blue;
      color: colors.$white;

      a {
        color: colors.$white;

        &:focus, &:hover, &:active, &:visited {
          color: colors.$white;
        }
      }
    }
  }
}
