@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";
@use "button";

/* ------------------------------------
   Box banner
   ------------------------------------ */

.banner--box {
  position: relative;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    display: flex;
    flex-direction: row-reverse;
  }

  &__image {
    @media (min-width: breakpoints.breakpoint-min(lg)) {
      width: 55%;
    }

    img {
      max-height: 540px;
      min-height: 300px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  &__body {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20%;
    position: relative;
    width: 93.75%;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      // Position to sit on top and overlap the image.
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      max-width: 1200px * 0.525;
      max-width: calc(52.5% - ((100% - 1200px) / 2));
      position: absolute;
      right: 47.5%; // We want it to overlap by 7.5%
      top: 0;
      width: 52.5%;
    }
  }

  &__body-inner {
    background-color: colors.$ucla-blue;
    color: colors.$white;
    padding: 1rem 1.5rem;

    a {
      color: colors.$white;
    }

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      padding: 2rem;
    }

    .banner--box__button {
      color: colors.$black;

      &:focus, &:hover, &:active, &:visited {
        color: colors.$black;
      }

      &.link--external {
        color: colors.$black;
        &::after {
          filter: brightness(0);
        }
      }
    }
  }

  &__title {
    font-size: 2.25rem;
  }

  &__summary {
    @media (min-width: breakpoints.breakpoint-min(lg)) {
      margin-right: 20%;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    @include button.button--primary--invert();
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

// ==========================================================================
// Style options
// ==========================================================================

// Background color: white
.option--bg-color--white > .banner--box {
  .banner--box__body-inner {
    background-color: colors.$white;
    color: colors.$black;

    a {
      color: colors.$black;

      &:focus, &:hover, &:active, &:visited {
        color: colors.$black;
      }
    }
  }
}

// Image alignment: left
.option--image-align--left > .banner--box {
  flex-direction: row;

  .banner--box__body {
    @media (min-width: breakpoints.breakpoint-min(lg)) {
      left: 47.5%;
      right: initial;
    }
  }

  .banner--box__summary {
    @media (min-width: breakpoints.breakpoint-min(lg)) {
      padding-right: 0;
    }
  }
}
