@use "../utilities/colors";
@use "../utilities/variables";
@use "../utilities/_mixins/breakpoints";

.sf_card-grid {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  }
}

.option--columns--1 > .sf_card-grid {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.option--columns--2 > .sf_card-grid {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.option--columns--3 > .sf_card-grid {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.option--columns--4 > .sf_card-grid {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    grid-template-columns: repeat(4, 1fr);
  }
}
