@use "../utilities/colors";

.media.align-left {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.media.align-right {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.media.align-center {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.caption-drupal-media {
  figcaption {
    color: colors.$grey-60;
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0.5rem;
  }
}
