@use "../utilities/colors";

//------------------------------------
//  Tables
//------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

th {
  padding: 0.5rem;
  text-align: left;
  vertical-align: bottom;

  thead &,
  tbody & {
    color: colors.$medium-grey5;
    text-transform: uppercase;
  }
}

td {
  padding: 0.5rem;
}


// Wrap around a table to make it scrollable in when content doesn't fit
// horizontally.
.responsive-table {
  overflow: auto;

  // Scrolling Visual Cue
  background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
  linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
  radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: #fff;
  background-position: 0 0, 100%, 0 0, 100%;
  background-repeat: no-repeat;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;

  &:focus {
    outline: 0.1rem solid colors.$ucla-gold;
  }
}


//------------------------------------
//  Tables
//------------------------------------

// Table: Zebra-striping `Modifier`
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
@mixin table--striped {
  > tbody > tr:nth-of-type(odd),
  > tr:nth-of-type(odd) {
    background-color: colors.$grey-5;
  }

  th {
    background-color: colors.$grey-10;
    font-weight: bold;
    a {
      color: lighten(colors.$darkest-blue, 4%);

      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }

  td {
    a {
      color: colors.$darker-blue;
      
      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }
}

// Table: Hover effect `Modifier`
//
@mixin table--hover {
  > tbody > tr:hover,
  > tbody > tr:hover:nth-of-type(odd),
  > tr:hover,
  > tr:hover:nth-of-type(odd) {
    background-color: colors.$lightest-blue;
  }
}

// Assign placeholders to classes
.table {
  @include table--striped;
  @include table--hover;

  p {
    font-size: 1em;
  }

  &__row {
    &--empty {
      display: block;
      height: 0;
      padding: 0;
      margin: 0;
      border-top: 1.25em solid colors.$white;
      border-bottom: 1.25em solid colors.$white;

      td,
      th {
        text-indent: -999em;
        text-align: left;
      }
    }

    &--subtotal {
      font-weight: bold;
      background-color: colors.$lightest-grey;

      @at-root {
        tbody > tr.table__row--subtotal:nth-of-type(odd) { // sass-lint:disable-line no-qualifying-elements
          background-color: colors.$lightest-blue;
        }
      }
    }

    &--total {
      font-weight: bold;
      background-color: colors.$ucla-gold;

      @at-root {
        tbody > tr.table__row--total:nth-of-type(odd) { // sass-lint:disable-line no-qualifying-elements
          background-color: colors.$ucla-gold;
        }
      }
    }
  }

  &__cell {
    &--right {
      text-align: right;
    }
  }
}
.table--plain-border {
  th {
    border: 1px solid #ccc;
  }
  td {
    border: 1px solid #ccc;
  }
}
.tr-lightest-blue {
  background-color: colors.$lightest-blue !important;
  font-weight: bold;  
}

.tr-lighter-blue {
  background-color: colors.$lighter-blue !important;
  font-weight: bold;  
}

.tr-darker-gold {
  background-color: colors.$darker-gold !important;
  font-weight: bold;  
}

.table--striped-bordered {
  > tbody > tr:nth-of-type(odd),
  > tr:nth-of-type(odd) {
    background-color: colors.$grey-5;
  }

  th {
    border: 1px solid #ccc;
    background-color: #fff !important;
    font-weight: bold;
    text-transform: none;
    a {
      color: lighten(colors.$darkest-blue, 4%);

      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }

  td {
    border: 1px solid #ccc;
    a {
      color: colors.$darker-blue;
      
      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }
}

.table--striped-gb {
  > tbody > tr:nth-of-type(odd),
  > tr:nth-of-type(odd) {
    background-color: rgba(255,209,0,.08);
  }
  > tbody > tr:nth-of-type(even),
  > tr:nth-of-type(even) {
    background-color: rgba(39,116,174,.08);
  }

  th {
    background-color: #fff !important;
    font-weight: bold;
    text-transform: none;
    a {
      color: lighten(colors.$darkest-blue, 4%);

      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }

  td {
    a {
      color: colors.$darker-blue;
      
      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }
}

.table--striped-bordered-gb {
  > tbody > tr:nth-of-type(odd),
  > tr:nth-of-type(odd) {
    background-color: rgba(255,209,0,.08);
  }
  > tbody > tr:nth-of-type(even),
  > tr:nth-of-type(even) {
    background-color: rgba(39,116,174,.08);
  }

  th {
    border: 1px solid #ccc;
    background-color: #fff !important;
    font-weight: bold;
    text-transform: none;
    a {
      color: lighten(colors.$darkest-blue, 4%);

      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }

  td {
    border: 1px solid #ccc;
    a {
      color: colors.$darker-blue;
      
      &:hover {
        color: colors.$white;
      }

      &:focus {
        color: colors.$white;
      }
    }
  }
}
.tr-striped-col-gb {
  th:nth-child(odd), td:nth-child(odd) {
    background: #2774AE !important;
    color: #fff;
  }
  th:nth-child(even), td:nth-child(even) {
      background: #FFD100 !important;
  }  
}
.section--ucla-white-bk {
  background-color: #ffffff;  
}
.section--ucla-blue-bk {
  background-color: colors.$ucla-blue;  
}
.section--lightest-blue-bk {
  background-color: colors.$lightest-blue;
}
.section--gray-fifteen-bk {
  background-color: colors.$grey-15;  
}
.section--gray-five-bk {
  background-color: colors.$grey-5;
}
.option--width--full .paragraph--type--sf-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 0 24px;
    position: relative;
}

.table--striped-column-gb {
  thead {
    th:nth-child(odd) {
        background: rgb(39 116 174 / 8%);
    }
    th:nth-child(even) {
        background: rgb(255 209 0 / 8%);
    }
  }
  tbody {
    td:nth-child(odd) {
        background: rgb(39 116 174 / 8%);
    }
    td:nth-child(even) {
        background: rgb(255 209 0 / 8%);
    }
  }
}
.table--brd-striped-column-gb {
  thead {
    th {
      border: 1px solid #ccc;
    }
    th:nth-child(odd) {
        background: rgb(39 116 174 / 8%);
    }
    th:nth-child(even) {
        background: rgb(255 209 0 / 8%);
    }
  }
  tbody {
    td {
      border: 1px solid #ccc;
    }
    td:nth-child(odd) {
        background: rgb(39 116 174 / 8%);
    }
    td:nth-child(even) {
        background: rgb(255 209 0 / 8%);
    }
  }
}
.responsive_table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;

    thead {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;

        th {
          border: 1px solid #cccaca;
          font-weight: bold;
          text-align: center;
          color: black;
          padding: 0px;
        }
        th:first-of-type {
          text-align: left;
        }
    }
    tbody {
      td {
        text-align: left;
      }
      tr {
        margin-bottom: 1em;
      }
      tr:last-of-type {
        margin-bottom: 0;
      }
      th[scope=row] {
        background-color: #26890d;
        color: white;
      }
      td[data-type=currency] {
        text-align: right;
      }
      td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.54);
      }
      td:nth-child(odd) {
          background: rgb(39 116 174 / 8%) !important;
      }
      td:nth-child(even) {
          background: rgb(255 209 0 / 8%);
      }
    }
    tbody, tr, th, td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    th, td {
      padding: 0.5em 0;
      vertical-align: middle;
    }
    caption {
      margin-bottom: 1em;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
    }
}
.responsive_table .striped-columns th:nth-child(odd), .mock-td-blue {
    background: #2774AE;
    color: #fff;
}
.responsive_table .striped-columns th:nth-child(even), .mock-td-gold {
    background: #FFD100;
}
.responsive_table th {
    text-transform: none;
    font-weight: bold;
}
@media (min-width: 48em) {
  .responsive_table {
    font-size: 0.9em;
  }
}
@media (min-width: 62em) {
  .responsive_table {
    font-size: 1em;
  }
}
.th-mobile {
    display: initial;
    float: left;
    width: 44%;
    text-align: left;
    clear: both;
    padding: 0px 2%;
}

@media (max-width: 48em) {
  span.th-mobile-two {
      float: left;
      width: 52%;
  }
  span.subscript {
      top: -7px !important;
      left: 4px;
  }
  .responsive_table tbody tr {
    margin-bottom: 0em !important;
  }
}
@media (max-width: 25em) {
  .responsive_table {
      font-size: 14px;
  }
}
@media (min-width: 48em) {
  .responsive_table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .th-mobile {
    display: none;
  }
  .responsive_table tbody td {
    text-align: center;
  }
}

@media (min-width: 48em) {
  .responsive_table tr {
    display: table-row;
  }
}

@media (min-width: 30em) {
  .responsive_table th,
.responsive_table td {
    padding: 0.75em 0;
  }
}
@media (min-width: 48em) {
  .responsive_table th,
.responsive_table td {
    display: table-cell;
    padding: 0.5em;
  }
}
@media (min-width: 62em) {
  .responsive_table th,
.responsive_table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 75em) {
  .responsive_table th,
.responsive_table td {
    padding: 0.75em;
  }
}

@media (min-width: 48em) {
  .responsive_table caption {
    font-size: 1.5em;
  }
}
.responsive_table tfoot {
  font-size: 0.8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive_table tfoot {
    font-size: 0.9em;
  }
}
@media (min-width: 48em) {
  .responsive_table tbody {
    display: table-row-group;
  }
}

@media (min-width: 48em) {
  .responsive_table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}

@media (min-width: 30em) {
  .responsive_table tbody th[scope=row] {
    border-left: 1px solid #cccaca;
    border-bottom: 1px solid #cccaca;
  }
}
@media (min-width: 48em) {
  .responsive_table tbody th[scope=row] {
    background-color: transparent;
    color: #000001;
    text-align: left;
  }
}
@media (min-width: 48em) {
  .responsive_table tbody td {
    border-left: 1px solid #cccaca;
    border-bottom: 1px solid #cccaca;
    text-align: center;
  }
}
@media (min-width: 48em) {
  .responsive_table tbody td:last-of-type {
    border-right: 1px solid #cccaca;
  }
}
@media (min-width: 30em) {
  .responsive_table tbody td[data-title]:before {
    font-size: 0.9em;
  }
}
@media (min-width: 48em) {
  .responsive_table tbody td[data-title]:before {
    content: none;
  }
}
th.th-hidden {
    visibility: hidden;
    border: none !important;
}
.mock-td-gold, .mock-td-blue {
  width: 50%;
  text-align: center;
  font-weight: bold;
  float: left;
  border: 1px solid #cccaca;
}
.rstwo tbody td:nth-child(odd) {
    background: rgb(39 116 174 / 8%) !important;
}
.rstwo tbody td:nth-child(even) {
    background: rgb(255 209 0 / 8%);
}
span.subscript {
    font-size: 12px;
    position: relative;
    top: -10px;
}
th.edge-column {
    border-bottom: 2px solid #fff !important;
    background: #005587 !important;
    color: #fff !important;
    text-align: center !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.dk-red {
  color: darkred !important;
}
span.th-mobile.pt-mod {
    padding-top: 0px;
}
span.xmark {
    font-size: 11px;
    position: relative;
    top: -5px;
}
span.checkmark {
    position: relative;
    top: -4px;
    font-size: 20px;
}
@media (max-width: 48em) {
  .sf_custom_code .responsive_table tbody, .sf_custom_code .responsive_table td, .sf_custom_code .responsive_table th, .sf_custom_code .responsive_table tr {
    display: flow-root !important;
  }
}