@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";
@use "../utilities/variables";

/*************************************
  Tabbed card section
************************************/

/* .tabs is the container for tab buttons and tab panels */
.sf_tabs {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }

  .tabs__list {
    display: flex;
    border-bottom: 1px solid #ccc;

    @media (min-width: breakpoints.breakpoint-min(xl)) {
      overflow: hidden;
    }

    button.tabs__control {
      display: inline-block;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      color: #00598c;
      padding: 0.75rem 1.5rem 0.5rem;
      cursor: pointer;
      border-bottom: 4px solid transparent;
      border-top: none;
      border-left:none;
      border-right: none;
      background: white;

      /* when button is active */
      &[aria-selected="true"] {
        border-bottom: 4px solid #ffd100;
        color: #333;

        &:hover {
          border-bottom: 4px solid #0079bf;
        }
      }

      &:hover {
        border: none;
        border-bottom: 4px solid #0079bf;
      }

      &.ucla-tablink:active {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid  #003b5c;
      }

      &:focus {
        outline: 2px solid #00568c;
        outline-offset: -2px;
      }

      &.is-active {
        border-bottom: 4px solid #ffd100;
        color: #333;

        &:hover {
          border-bottom: 4px solid #0079bf;
        }
      }

      button:not([disabled]):focus {
        outline: 2px solid #00568c;
        outline-offset: -2px;
      }
    }
  }

  .tabs__panel {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: relative;
    z-index: 2;

    &:focus {
      outline: 1px dotted colors.$focus-state;
      outline-offset: -2px;
    }
  }
}

.tabs-md-up {
  display: inherit;
  @media (max-width: breakpoints.breakpoint-min(sm)) {
    display: none !important;
  }
}

.tabs-sm-down {
  display: none;
  @media (max-width: breakpoints.breakpoint-min(sm)) {
    display: block !important;
  }
}