@use "../utilities/colors";
@use "../utilities/variables";

.tags {
  a {
    border: 2px solid colors.$default-state;
    border-radius: 50rem;
    color: colors.$default-state;
    font-size: variables.$ucla-font-size-x-small;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;

    &:hover {
      color: colors.$white;
    }

    &:focus {
      outline: 1px solid colors.$focus-state;
      outline-offset: 1px;
    }
  }

  .field__item {
    display: inline-block;
    margin-right: 0.25rem;
  }
}
